/*font-family: 'Inter', sans-serif;*/
body {
    background-color: #E5E5E5;
}

body {
	background: linear-gradient(-45deg,#f19376, #ff85b4, #73d8fd, #58ffd8, #aaaaf2,#aaaaf2, #E5E5E5, #E5E5E5, #E5E5E5);
	background-size: 400% 400%;
	animation: gradient 120s ease infinite;
	height: 100vh;
}

canvas {
    border: 1px black solid;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 1vh;
    font-size: 1.1vw;
}

.oculta {
    display: none !important;
}

#logoAlura {
    margin: 2vw;
    width: 1.5vw;
}

/*Vista Iniciar Juego*/

#mainDiv {
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 7vw;
    width: 70vw;
    height: 70vh;
    margin: 0 15vw;
    text-align: center;
}

.boton {
    font-family: 'Inter', sans-serif;
    border-radius: 1.5vw;
    border-color: #0A3871;
    border-width: 0.1vh;
    transition: all 0.1s ease-out;
    display: block;
    margin: 1vh auto;
    min-width: fit-content;
    min-height: fit-content;
}

.boton:hover {
    transform: scale(1.1);
}

.btnAzul {
    color: white;
    background-color: #0A3871;
}

.btnGris {
    color: #0A3871;
    background-color: #E5E5E5;
}

.btnGrande {
    height: 13vh;
    width: 20vw;
    font-size: 1.3vw;
}

.btnChico {
    height: 9vh;
    width: 15vw;
    font-size: 1.1vw;
}

/*Vista Agregar Palabra*/

#agregarPalabraDiv {
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 7vw;
    width: 70vw;
    height: 70vh;
    margin: 0 15vw;
    text-align: center;
}

/*Vista de Juego*/

#juegoDiv {
    border: 2px solid black;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 7vw;
    width: 70vw;
    height: 70vh;
    margin: 0 15vw;
    text-align: center;
}
